<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Scopes - Job Application Tracker</title>
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- Bootstrap CSS https://getbootstrap.com/docs/4.5/getting-started/introduction/ -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!-- Style.css -->
	<link rel="stylesheet" href="style.css">
	<!-- Plugins.css -->
	<link rel="stylesheet" href="plugins.css">
	<!-- Google Fonts https://fonts.google.com/ -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<!-- Animate.css https://cdnjs.com/libraries/animate.css/
		https://daneden.github.io/animate.css/ -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css">
	<!-- Lightbox Image Gallery https://cdnjs.com/libraries/lightbox2  https://lokeshdhakar.com/projects/lightbox2/ -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">
	<!-- Owl Carousel https://cdnjs.com/libraries/OwlCarousel2
		http://owlcarousel2.github.io/OwlCarousel2/ -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
</head>
<body data-spy="scroll" data-target="#navbarResponsive">

    <h1>Users Login Form</h1>

    <br>

    <%= form_with url: "/login", method: "post" do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Enter your username."  %>

    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Enter your password."  %>

    <%= f.submit "Login"%>

    <% end %>

    <br>

    <%= link_to '<button>Sign Up</button>'.html_safe, "/signup" %>

    <br>

    <hr class="socket">
    &copy; Scopes.

</body>
</html>