	<br>
	<div class="container">

    <h1>Log In</h1>

    <br>

    <%= form_with url: "/login", method: "post" do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Enter your username."  %>

    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Enter your password."  %>

    <%= f.submit "Login", class: 'btn btn-outline-primary'%>

    <br>
    <br>

    <%= link_to 'Sign Up'.html_safe, "/signup", class: 'btn btn-outline-primary' %> 

    <% end %>

    <br>

    <hr class="socket">
    &copy; Scopes.