<br>
<div class="container">
  <h1> Hi <%= @user.username %>! </h1>

  <br>

  <h4> Your current information are as the following: <h4>

    <h4>Name: <%= @user.name %></h4>
    <h4>Username: <%= @user.username %></h4>
    <h4>Email: <%= @user.email %></h4>
	<h4>Applications: <%= @user.jobs.count %></h4>

  <br>

    <%= link_to 'Edit Info', edit_user_path, class: 'btn btn-outline-primary' %>    

<br>

<%= form_with url: "/logout", method: "delete" do |f| %>

<br>

    <%= f.submit "Logout" %>

<% end %>

</div>
