<div class="container">
    <br>
    <%= link_to 'Back',company_path(@contact.company), class: 'btn btn-outline-primary' %> 

    <h1><%= "#{@contact.first_name} #{@contact.last_name}" %></h1>
    <h4>Title: <%= @contact.title %></h4>
    <h4>Email: <%= @contact.email %></h4>
    <h4>Title: <%= @contact.phone %></h4>
    <h4>Notes: <br><%= @contact.notes %></h4>

    <button type="button" class="btn btn-light btn-lg btn-block">Generate Email Templates</button>

    <a class="btn btn-primary" href='/contacts/<%=@contact.id%>/cold', role="button">Cold Email</a>
        <a class="btn btn-primary" href='/contacts/<%=@contact.id%>/thankyou', role="button">Thank You Email</a>

</div>

