<div class="container">
    <br>
    <h1><%= "#{@contact.first_name} #{@contact.last_name}" %> <%= link_to 'Edit', edit_contact_path, class: 'btn btn-outline-primary' %> </h1>
    <h4>Title: <%= @contact.title %></h4>
    <h4>Email: <%= @contact.email %></h4>
    <h4>Title: <%= @contact.phone %></h4>
    <h4>Notes: <%= @contact.notes %></h4>

    <!--button type="button" class="btn btn-light btn-lg btn-block">Generate Email Templates</button-->

    <br>

    <a class="btn btn-primary" href='/contacts/<%=@contact.id%>/cold', role="button">Cold Email Template</a>
        <a class="btn btn-primary" href='/contacts/<%=@contact.id%>/thankyou', role="button">Thank You Email Template</a>

    <br>
    <br>

    <%= link_to 'Back',company_path(@contact.company), class: 'btn btn-outline-primary' %>

</div>